server: 
  port: 9004
spring: 
  application:  
    name: tensquare-article #指定服务名
  datasource:  
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.3.26:3306/tensquare_article?characterEncoding=UTF8&serverTimezone=UTC
    username: root
    password: zd
  jpa: 
    database: MySQL
    show-sql: true
  redis:
    host: 192.168.3.26
